<div *ngIf="todos && todos.length; else noTodos">
  <div class="todo-item" *ngFor="let todo of todos">
    <span [class.line-through]="todo.status === 'COMPLETE'">{{ todo.name }}</span>
    
    <div class="todo-actions">
      <button mat-mini-fab color="primary" aria-label="Complete" (click)="onStatusChange(todo)">
        <mat-icon>{{ todo.status === 'IN_PROGRESS' ? 'done' : 'replay' }}</mat-icon>
      </button>

      <button mat-mini-fab color="warn" aria-label="Delete" (click)="onDelete(todo)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
<ng-template #noTodos>
  <p class="todo-item">No todos</p>
</ng-template>
